# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Ruff
.ruff_cache

# PyInstaller
*.spec
!nxm_switch.spec

# makepkg artifacts
src/
pkg/
*.pkg.tar.*
.bin
